# UK Polling Data

As the 2015 UK general election result was quite surprising to the pollsters, it is natural to ask why they were surprised and to analyse the polling data.  Mark Pack has aggregated all the polling data from the 1940s into an excel spreadsheet and made it available to the geenral public.  It is a fantastic resource and can be downloaded from the following website:

http://www.markpack.org.uk/opinion-polls/

As ever, the first thing to do is to read in the file and look at it to see what is in there.

In [1]:
# First of all, import files into python
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# For visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [13]:
xlsfile = pd.ExcelFile('./Data/Polls/Mark-Packs-opinion-polls-spreadsheet_macl.xls')

Now, this file comprises many sheets.  Most of the sheets separate the polling into different year ranges.  The first one I will look at is the most recent, which is 2010 onwards.  To do this, I parse by the sheet name, which is "10-"

In [17]:
df_2010_2015 = xlsfile.parse('10-')

In [18]:
df_2010_2015.head()

,Year,Month,Fieldwork,Unnamed: 3,Published,Unnamed: 5,Polling,Publisher,Con,Unnamed: 9,...,Govt net,Question.1,Con.1,Lab.1,LD.1,UKIP.1,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
0,2010,May,12-13,2010-05-12,16,NaN,ComRes,IoS/SM,38,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,May,12-13,2010-05-12,16,NaN,ICM,STel,38,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,May,13-14,2010-05-13,16,NaN,YouGov,ST,37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
3,NaN,May,14-16,2010-05-14,19,NaN,Angus RS,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,May,19,2010-05-19,20?,NaN,YouGov,Sun,NaN,NaN,...,20,Do you approve or disapprove of the Government...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

Another one to look at is the 05-10 polls.  There was a hung parliament in 2010 which led to a coalition government formed by the conservatives and the Liberal Democrats

In [19]:
df_2005_2010 = xlsfile.parse('05-10')

In [20]:
df_2005_2010.head()

,Year,Month,Fieldwork,Unnamed: 3,Published,Polling,Publisher,Con,Unnamed: 8,M,...,LD good,LD bad,LD net,Question,Unnamed: 48,MORI LD,YouGov LD,ICM LD,Populus LD,ComRes LD
0,2005,May,19-23,2011-05-19,NaN,MORI,First Tuesday,27,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,May,19-23,2005-05-19,NaN,MORI,FT,30,NaN,NaN,...,49,28,21,Are you satisfied or dissatisfied with the way...,NaN,26,,,,
2,NaN,May,24-26,2005-05-24,NaN,YouGov,DT,31,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,,23,,,
3,NaN,Jun,16-20,2005-06-16,7,MORI,Social Research Institute,29,-1,NaN,...,46,26,20,Are you satisfied or dissatisfied with the way...,NaN,21,,,,
4,NaN,Jun,17-19,2005-06-17,21,ICM,GU,31,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,,

Note that there are a lot of columns in these files and I need to investigate which ones can be dropped or not, as not all will be relevant to my analysis.